# Node/Bun artifacts
node_modules
bun.lockb
*.log

# Build output
dist
build

# OS / IDE files
.DS_Store
Thumbs.db
.vscode
.idea

# Git and version control
.git
.gitignore

# Env files
.env
.env.local
